@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html,
  body,
  #root {
    @apply dark:bg-backdropColor bg-backdropColorLight font-Inter;
  }

  select[type='text'] {
    appearance: none;
  }

  input[type='file'] {
    display: none;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 80%;
  }

  input::-webkit-date-and-time-value {
    appearance: none;
    text-align: left;
  }
}

@layer components {
  .page {
    @apply flex flex-col min-h-screen gap-8 lg:w-3/4 xl:w-3/5 sm:ml-80;
  }

  .page-container {
    @apply flex flex-col p-3 sm:p-4 rounded-xl dark:bg-containerColor bg-containerColorLight;
  }

  .page-container-header {
    @apply mb-5 mr-4 font-semibold text-headMobile sm:text-head dark:text-headingColor text-headingColorLight;
  }

  .page-container-header-toggle {
    @apply mb-0 mr-4 font-semibold text-toggleMobile sm:text-toggle dark:text-headingColor text-headingColorLight;
  }

  .page-container-button {
    @apply w-full mt-3 p-2 rounded-lg text-button dark:text-buttonTextColor text-buttonTextColorLight font-semibold dark:bg-buttonColor bg-buttonColorLight dark:hover:bg-buttonHoverColor hover:bg-buttonHoverColorLight;
  }

}
