.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 75px;
}

.login-container img {
  width: 84px;
  height: 84px;
}

.login-container .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 22px;
}

.loader {
  width: 42px;
  height: 42px;
  border: 5px solid rgb(71, 67, 67);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

@media screen and (max-width: 768px) {
  .login-container {
    transform: translate(-50%, -70%);
    padding: 0px;
  }
}