aside {
  position: fixed;
}

.nav-top {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 35px 32px;
}

.nav-top .nav-user-icon {
  font-size: var(--menuIconSize);
}

.nav-icon {
  font-size: var(--menuIconSize);
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-bar a {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--color-dark);
  padding: 32px;
  height: 24px;
  gap: 27px;
  transition: all 300ms ease;
}

.nav-bar a.active {
  color: #404ec5;
}

.nav-bar a:hover {
  color: #6672df;
}

.logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  margin-top: 16px;
  padding-left: 32px;
  gap: 27px;
  transition: all 300ms ease;
  color: var(--color-info-dark);
}

.logout-button:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {

  .nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    margin: 0;
    background: #fff;
    width: 100%;
    height: 10%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .nav-user-icon {
    font-size: var(--menuIconSize);
    margin-left: 15px;
  }

  .logout-button {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: 6%;
    right: -52px;
  }

  .logout-button h3 {
    visibility: hidden;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    bottom: -1px;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .nav-bar a:last-child {
    display: none;
  }

  .nav-bar a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    height: unset;
    gap: 3px;
    margin-top: 2px;
  }
}