.formNotVisible {
  display: none;
}


.modalContainer {
  background-color: rgb(255, 255, 255);
}

.formControl {
  display: flex;
  flex-direction: column;
}

.formInput,
.formSelect {
  margin-top: 2px;
  margin-bottom: 7px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
}

.formLabel {
  font-weight: 500;
}

.formError {
  color: red;
}

.formButton {
  background-color: #4586e0;
  border: 2px solid #4586e0;
  border-radius: 4px;
  color: #ffff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.formEditButton:hover {
  color: grey
}

.modalButton {
  margin: 0px;
  padding: 7px 15px;
  border: 6px solid rgb(255, 255, 255);
  border-radius: 11px;
  background-color: #4586e0;
  color: #ffffff;
}