 /*-------Notification styles-------*/

.notification {
  position: fixed;
  border-radius: 10px;
  bottom: 25px;
  right: 30px;
  padding: 15px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.success {
  background: #bdf7cf;
}

.error {
  background: rgb(255, 151, 151);
}

.notification-content {
  display: flex;
  align-items: center;
}

.notification-text {
  margin-left: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .notification {
    padding: 15px;
    width: 95%;
    top: 12px;
    bottom: unset;
    right: auto;
  }

  .notification-text {
    width: 85%;
    text-align: center;
  }
}