 /*-------User selection buttons-------*/

 .select-buttons {
   display: flex;
   align-items: center;
   margin-bottom: 25px;
 }

 .centered {
   display: flex;
   justify-content: center;
 }

 /*active button*/
 .select-buttons button {
   padding: 10px 21px;
   margin: 0px 6px;
   border: 6px solid transparent;
   border-radius: 11px;
   background-color: var(--color-button-bg);
   color: var(--color-button-in);
 }

 /*inactive button*/
 .select-buttons .nonselected {
   background-color: #9db7c9;
 }

 @media screen and (max-width: 768px) {}