.toggleBar {
  display: flex;
  padding: 0px;
  margin-top: 10px;
  background-color: rgb(245, 248, 250);
  border-radius: 7px;
}

.toggleButton {
  display: flex;
  background-color: rgb(245, 248, 250);
  border: 0px solid #ffffff;
  margin: 8px 11px;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.toggleSign {
  background-color: rgb(245, 248, 250);
  display: flex;
  margin: 11px 11px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .toggleButton {
    margin: 8px 0px;
  }
}