 /*-------Toggle for forms-------*/

 .toggle-bar {
   display: flex;
   cursor: pointer;
 }

 .toggle-name {
   display: flex;
   margin: 8px 13px;
   width: 100%;
   background-color: var(--color-card-bg);
   font-size: 20px;
   font-weight: 600;
 }

 /*logo sign*/
 .toggle-sign {
   margin: 11px;
   background-color: var(--color-card-bg);
   font-size: 24px;
 }

 @media screen and (max-width: 768px) {
   .toggle-bar {
     padding: 0px 5px;
   }

   .toggle-name {
     margin: 6px 2px;
   }
 }