.totals {
  margin: 14px 10px;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 248, 250);
}

.total {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #bbb;
  width: 95%;
}

.total:last-child {
  border-bottom: none
}

.total-header {
  font-size: 19px;
  font-weight: 600;
  margin: 7px 0px;
}

.total-name {
  font-size: 19px;
  font-weight: 600;
}

.amount {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 19px;
  font-weight: 600;
}

.difference {
  font-size: 10px;
  width: 99%;
}