.totals {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(245, 248, 250);
  margin-bottom: 25px;
}

.total {
  padding: 10px 10px 10px 0px;
  display: flex;
  border-bottom: 1px solid #bbb;
  width: 95%;
}

.total:last-child {
  border-bottom: none
}

.total-header {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0px;
}

.total-name {
  font-size: 20px;
  font-weight: 600;
}

.amount {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 19px;
  font-weight: 600;
}

.difference {
  color: red;
  font-size: 11px;
  width: 99%;
}
