 /*-------CSS defaults of whole app-------*/

 :root {
   --color-primary: #404ec5;
   --color-dark: #000;
   --color-card-bg: rgb(245, 248, 250);
   --color-button-bg: #4586e0;
   --color-button-in: #fff;
   --color-modal: #fff;

   --menuIconSize: 28px;
 }

 body, html {
   height: 100%;
 }

 div * {
   margin: 0px;
   padding: 0px;
   list-style: none;
   margin: 0;
   padding: 0;
   outline: 0;
   appearance: none;
   border: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
 }

 h1 {
   font-size: 24px;
 }

 h2 {
   font-size: 20px;
 }

 h3 {
   font-size: 15px;
 }

 h4 {
   font-size: 12px;
 }

 h5 {
   font-size: 10px;
 }

 .app {
   width: min(60%, 1000px);
   padding: 30px;
   margin-inline: auto;
   overflow-x: hidden;
 }

 @media screen and (max-width: 768px) {

   :root {
     --menuIconSize: 31px;
   }

   .app {
     padding: 100px 8px 70px 8px;
     width: 100%;
     margin-bottom: 50px;
   }

 }