* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 8px;
    margin-top: 85px;
    width: 100%;
  }
}